html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17.25px;
  background-color: #111;
  font-family: Helvetica, Arial, Sans-Serif;
}

h1 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

h2 {
  color: #fff;
  font-size: 1.25rem;
  padding: 0.25rem 1rem 0.7rem;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.feature-video {
  width: 100%;
  height: 600px;
}

.nav,
.footer,
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header .logo {
  color: #fff;
  width: 100vw;
  padding: 1.5rem;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  background-color: #000;
}
.header .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.header .nav ul {
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  border-top: 2px solid #fff;
}
.header .nav ul li:nth-of-type(odd) {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.header .nav ul li:nth-of-type(even) {
  border-bottom: 2px solid #fff;
}
.header .nav ul li {
  width: 50%;
  height: 111px;
  list-style-type: none;
}
.header .nav ul li .nav-button {
  width: 100%;
  color: #fff;
  padding: 2rem;
  display: block;
  text-align: center;
  font-size: 2.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: #860000;
}
